[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
bs4 = "0.0.1"
requests = "2.26.0"
click = "8.0.1"
selenium = "3.141.0"

[requires]
python_version = "3.9"
